SERVER_PORT=
LOG_LEVEL=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=

KAFKA_BOOTSTRAP_SERVERS=kafka:29092
KAFKA_TOPIC_USER_REGISTERED=user.registered
KAFKA_TOPIC_USER_BANNED=user.banned
KAFKA_TOPIC_USER_ROLE_CHANGED=user.role.changed

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

CACHE_USER_PROFILE_TTL=300
